

.signup {
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: 13vh 38vh 39vh 10vh;
    
}

.loginpageinput {
    border-radius: 5px;
    background-color: rgba(230, 230, 230, 0.5);
    width: 62%;
    
    border-width: 0px;
    position: relative;
    padding-bottom: 7px;
    padding-top: 7px;
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
  }


.signuppagebutton {
    border-radius: 5px;
    border-width: 0px;
    width: 61%;
    background-color: #6B8E23;
    position: relative;
    padding-top:7px;
    padding-bottom: 7px;
    margin-top: 5%;
    margin-left: 20%;
    color: white;
    cursor: pointer;
  }