.container{
    display:grid;
    grid-template-rows:40vh 20vh 40vh;
}
.select {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.viewrec1:hover
{
background-color:rgb(226, 219, 219,0.1);
}


.viewrec1{
    border-color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    color: rgba(255, 251, 251, 0.5);
    background-color: rgba(255, 251, 251, 0.0);
    width: 100%;
    font-size: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    cursor: pointer;
}

.viewrec2:hover
{
background-color:rgb(226, 219, 219,0.1);
}


.viewrec2{
    border-color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    color: rgba(255, 251, 251, 0.5);
    background-color: rgba(255, 251, 251, 0.0);
    width: 100%;
    font-size: 15px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    cursor: pointer;
}



